---
import { Image } from "astro:assets";
import Base from "../layouts/Base.astro";
import lageplan from "../assets/images/lageplan.webp";
import platz1 from "../assets/images/platz1.jpeg";
import platz2 from "../assets/images/platz2.jpeg";
import platz3 from "../assets/images/platz3.jpeg";
import platz4 from "../assets/images/platz4.jpeg";

const sizes = "(min-width: 700px) 640px, 100vw";
const widths = [320, 480, 640, 800, 1024, 1280, 1600];
---

<Base>
  <main>
    <a href="/">&lt; Home</a>
    <h2>Lageplan</h2>
    <p>Hier noch ein paar Erklärungen zu den Orten:</p>
    <ul>
      <li>
        <b>Zeltplatz:</b> Hier dürft ihr eure Zelte platzieren. Wenn man nicht im
        Campingstuhl einschläft, wird hier genächtigt
      </li>
      <li>
        <b>Spaßwiese:</b> Hier sind jegliche Freizeitaktivitäten (Frisbee, Ballsportarten,
        Wikingerschach, etc.) vorgesehen
      </li>
      <li>
        <b>Open Air Hackcenter:</b> Für die Leute, die mit ihrem Laptop im Internet
        surfen wollen, ist das hier genau der richtige Platz - mit erstaunlich frischer
        Luft und genügend Schattenplätzen
      </li>
      <li>
        <b>Veranstaltungsjurte:</b> Hier sind die Vorträge abends geplant. Für alles
        andere Tagsüber ebenfalls verwendbar. Wenn sich jemand am DJen ausprobieren
        möchte, ist er willkommen sich mit der Anlage zu verbinden
      </li>
      <li>
        <b>Bar & Küche:</b> Hier gibt es das ewige Frühstück sowie jeden Abend eine
        richtige Mahlzeit. Zudem findet man hier die Bar für Getränke und frischen
        Tschunk
      </li>
      <li>
        <b>Sanitäranlagen:</b> Bei dem aktuellen Wetter ist es wichtig, sich auch
        frisch halten zu können. Es gibt Duschen und Toiletten um möglichst allen
        hygienischen Bedürfnissen gerecht zu werden.
      </li>
      <li>
        <b>Ziegenopferungsaltar:</b> F&#x335;&#x344;&#x350;&#x346;&#x322;&#x320;r&#x337;&#x340;&#x350;&#x301;&#x318;&#x32F;&#x320;i&#x338;&#x35D;&#x30C;&#x317;&#x330;s&#x334;&#x315;&#x30D;&#x328;&#x323;c&#x338;&#x35B;&#x310;&#x332;h&#x338;&#x312;&#x319;&#x333;e&#x338;&#x310;&#x35B;&#x359;&#x326;&#x349;s&#x335;&#x342;&#x331;&#x345;
        &#x337;&#x360;&#x30A;&#x30B;&#x330;&#x317;&#x349;I&#x338;&#x30B;&#x358;&#x312;&#x32D;n&#x336;&#x31B;&#x354;t&#x337;&#x352;&#x30A;&#x31B;&#x323;&#x348;e&#x337;&#x311;&#x326;&#x347;r&#x336;&#x358;&#x351;&#x30E;&#x323;n&#x338;&#x340;&#x35B;&#x310;&#x32D;&#x32E;&#x35A;e&#x336;&#x350;&#x357;&#x324;t&#x336;&#x30B;&#x351;&#x342;&#x353;&#x32B;&#x328;
        &#x337;&#x308;&#x30E;&#x30C;&#x322;a&#x338;&#x342;&#x359;&#x328;&#x323;u&#x336;&#x34A;&#x345;&#x324;&#x324;s&#x338;&#x303;&#x360;&#x34C;&#x317;&#x320;
        &#x334;&#x33E;&#x33D;&#x30E;&#x321;&#x324;&#x35C;d&#x336;&#x352;&#x341;&#x34A;&#x355;&#x333;&#x31E;e&#x338;&#x34C;&#x317;r&#x335;&#x305;&#x35A;&#x323;
        &#x338;&#x357;&#x34A;&#x33F;&#x32C;&#x33C;T&#x338;&#x310;&#x32B;&#x329;e&#x334;&#x35B;&#x35C;l&#x335;&#x33F;&#x308;&#x325;&#x317;e&#x334;&#x344;&#x311;&#x30D;&#x317;k&#x338;&#x33F;&#x328;&#x32C;&#x317;o&#x337;&#x34B;&#x315;&#x341;&#x328;&#x330;&#x331;m&#x334;&#x346;&#x359;
        &#x336;&#x350;&#x34C;&#x31D;&#x31C;&#x35A;H&#x336;&#x357;&#x307;&#x302;&#x349;&#xF6;&#x335;&#x350;&#x305;&#x32A;&#x322;&#x319;l&#x334;&#x301;&#x31B;&#x33F;&#x329;l&#x334;&#x346;&#x34B;&#x34D;&#x318;e&#x336;&#x30C;&#x356;&#x319;
      </li>
    </ul>
    <Image
      src={lageplan}
      format="webp"
      widths={widths}
      sizes={sizes}
      alt="Lageplan des Eventgeländes"
    />
    <h3>Bilder des Zeltplatzes</h3>
    <p>Der Zeltplatz</p>
    <Image src={platz1} format="webp" widths={widths} sizes={sizes} alt="Drohnenbild des Platzes" />
    <p>Das Open Air Hackcenter</p>
    <Image src={platz2} format="webp" widths={widths} sizes={sizes} alt="Drohnenbild des Platzes" />
    <p>Der Dorfplatz - die Jurte steht beim Camp woanders...</p>
    <Image src={platz3} format="webp" widths={widths} sizes={sizes} alt="Drohnenbild des Platzes" />
    <p>
      Der Altar mit Sitzkreis und Kreuz - potentiell gut, falls man eine
      Auszeit braucht
    </p>
    <Image src={platz4} format="webp" widths={widths} sizes={sizes} alt="Drohnenbild des Platzes" />
  </main>
</Base>
